{% extends '_thanks.twig' %}

{% block terimakasih %}
  {% for item in post %}
    {% if item.isnama and item.isemail %}
      {% for item in var %}
        <h3 class="uk-card-title">Terima Kasih</h3>
        <p>Terima kasih <b>{{ item.nama }}</b>, Aku akan membalas pesanmu melalui <b>{{ item.email }}</b>.<br></p>
      {% endfor %}
    {% else %}
      <hr style="display: none;">
      <p>Akses ditolak. Tekan tombol silang untuk kembali ke index.php</p>
    {% endif %}
  {% endfor %}
{% endblock %}