{% extends '_layout.twig' %}

{% block content %}
  <div class="uk-container" style="left: 50%; padding-top: 250px; transform: translate(-50% -50%);">
  <div class="uk-card uk-body uk-card-default">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div class="uk-card-body uk-card-default uk-position-center">
        <a class="uk-close-large uk-modal-close-default" type="button" uk-close onClick="javascript:history.go(-1)"></a>
        <div class="uk-text-center">
          {% if isnama and isemail %}
            <h3 class="uk-card-title">Terima Kasih</h3>
            <p>Terima kasih <b>{{ nama }}</b>, Aku akan membalas pesanmu melalui <b>{{ email }}</b>.<br></p>
          {% else %}
            <hr style="display: none;">
            <p>Data belum diisi. Tekan tombol silang untuk kembali ke index.php</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}